venv/
__pycache__/
data/hdfs/processed/*
data/hdfs/raw/*
data/ransomlog/processed/*
data/ransomlog/raw/*  
results/

data/ids_ransomware/processed/*
data/ids_ransomware/raw/* 


CLAUDE.md
exemplos/

docs/